---
  - name: Create the user group in Linux
    group: name={{ app_group }} state=present

  - name: Create th user in Linux
    user: name={{ app_user }} shell=/bin/bash groups={{ app_group }} append=yes state=present home={{ app_user_home }}

# fix for https://github.com/ansible/ansible/issues/22576: ensure home dir exists.
  - name: Ensure home directory exists
    file: name={{app_user_home}} state=directory

    when: create_app_user


































